attrs
azure-core
azure-devops
bcrypt
certifi
cffi
charset-normalizer
cryptography
et-xmlfile
greenlet
h11
idna
isodate
msrest
numpy
oauthlib
openpyxl
outcome
packaging
pandas
paramiko
psycopg2
psycopg2-binary
pycparser
PyNaCl
PySocks
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
selenium
six
sniffio
sortedcontainers
SQLAlchemy
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
wsproto
XlsxWriter
psycopg2-binary
requests